@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    min-width: 220px;
    max-width: 1200px;
    min-height: 568px;
    font-weight: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0E0E0E;
}


h1{
    text-align: center;
}

#calc{
    min-width: 200px;
    max-width: 350px;
    position: absolute;
    background-color: rgb(34, 33, 33);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 8px;
    width: 350px;
    height: 590px;
}


.botao{
    width: 80px;
    height: 70px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d46001;
    border: none;
    color: white;
    margin: 2.5px;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.botao1{
    width: 80px;
    height: 70px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d13a03;
    border: none;
    color: white;
    margin: 2px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.botao2{
    width: 167px;
    height: 70px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d13a03;
    border: none;
    color: white;
    margin: 2px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.botao:hover{
    background-color: #d4600165;
}

.botao1:hover{
    background-color: #d13a0365;
    ;
}

.botao2:hover{
    background-color: #d13a0365;
}

#result{
    color: black;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 18px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.781);
    text-align: right;
    padding: 20px;
    margin-left: 2px;
    margin-right: 5px;
    margin-bottom: 40px;
    margin-top: 30px;
    border-radius: 5px;
    height: 20px;
}

h1{
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

#lugardahora{
    display: block;
    margin: 20px 0px 40px 0px;
}

#hora{
    display: inline;
    position: absolute;
    text-align: right;
    top: 2%;
    left: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    background-color: gray;
    color: rgb(212, 212, 212);
    font-weight: bold;
    border-radius: 20px;
}
