@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

body{
    min-width: 220px;
    max-width: 1200px;
    min-height: 568px;
    font-weight: normal;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #0E0E0E;
}


h1{
    text-align: center;
}

#calc{
    min-width: 200px;
    max-width: 350px;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    padding: 8px;
    width: 350px;
    height: 565px;
}


.botao{
    width: 80px;
    height: 70px;
    font-size: 16px;
    cursor: pointer;
    background-color: #171717;
    border: none;
    color: white;
    margin: 2.5px;
    transition-duration: 0.2s;
}

.botao1{
    width: 80px;
    height: 70px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF1313;
    border: none;
    color: white;
    margin: 2px;
    transition-duration: 0.2s;
}

.botao2{
    width: 167px;
    height: 70px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF1313;
    border: none;
    color: white;
    margin: 2px;
    transition-duration: 0.2s;
}

.botao:hover{
    background-color: black;
}

.botao1:hover{
    background-color: #ff131346;
}

.botao2:hover{
    background-color: #ff131346;
}

#result{
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 18px;
    font-weight: bold;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    text-align: right;
    padding: 20px;
    margin-left: 2px;
    margin-right: 5px;
    margin-bottom: 40px;
    margin-top: 30px;
    height: 20px;
}

h1{
    margin-top: 0px;
    text-align: center;
}
